/* New Routine*/
.new-routine-form {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.new-routine-title {
    text-align: center;
}

.information-container-routine {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 1rem;
}

.name-routine-input {
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

.name-routine-input:focus {
    background-color: var(--primary-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: black;
}



.description-rountine {
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

.description-rountine:focus {
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

/* Exercise selector form */
.exercise-selector-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;

}

.form-exercise-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.input-search-muscle {
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

.input-search-muscle:focus {
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

.select-container {
    display: flex;
    gap: 1.5rem;
}

/* Selector ADD*/
.select-container select {
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

.exercise-selector-add {
    width: 80%;
    margin: auto;
}


.exercises-selector-list {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Exercise-card */
.exercise-card {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
}
.exercise-card span {
    text-align: center;
    margin-left: auto;
}


.exercise-selector-container {
    display: flex;
    gap: .5rem;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-bg-color);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.exercise-selector-container button {
    display: inline-block;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: black;
    padding: 6px 12px;
    display: inline-block;
}

.exercise-selector-container button:hover {
    background-color: var(--secondary-bg-color);
    color: white;
    border: 1px solid var(--primary-color);
}

@media (min-width: 768px) {
    .exercise-selector-container {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
    }
    .exercise-selector-container button {
        margin-left: auto;

    }

}
.exercises-change-container {
    margin: 1.5rem auto;
    width: 75%;
    margin: auto;

}

@media (min-width: 768px) {
    .exercise-selector-add {
        width: 70%;
    }
    .exercises-change-container {
        width: 70%;
        
    }
    .exercises-change-container ul {
        gap: 0.5rem;
    }
    .exercises-change-container ul li {
        flex-direction: row;
        padding: 2rem;
        align-items: center;
    }
    .container-numbers {
        justify-content: center;
    }
}

.new-routine-form button {
    display: inline-block;
    width: fit-content;
    margin: auto;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: black;
    padding: 6px 12px;
    display: inline-block;
}


.exercise-selector-container button:hover {
    background-color: var(--secondary-bg-color);
    color: white;
    border: 1px solid var(--primary-color);
}

.exercises-change-container p {
    margin: auto;
}

.exercises-change-container h3 {
    margin: auto;
}
.list-exercises-change {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-exercises-change li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
}


.exercise-sets {
    display: flex;
    gap: 0.5rem;
}

.exercise-sets input {
    width: 30px;
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}

.exercise-reps {
    display: flex;
    gap: 0.5rem;
}
.exercise-reps input {
    width: 60px;
    background-color: var(--primary-bg-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: white;
}
.container-numbers {
    display: flex;
    gap: 1rem;
}
.dragging-overlay {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
}
.exercise-inputs {
    display: flex;
    gap: 1rem;
}

@media (min-width: 837px) {
    .exercises-change-container {
        width: 80%;
    }
    .list-exercises-change {
        width: 100%;
    }
    .list-exercises-change li {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
    }
}
