.routine-container {
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
}

.routine-container a {
    text-decoration: none;
    color: var(--primary-color);
    width: 100%;
    display: block;
    padding: 1rem;
}

.routine-container:hover {
    background-color: var(--primary-color);
}

.routine-container a:hover {
    color: var(--secondary-bg-color);
}