.routine-list-container {
    padding: 2rem;
}

.routine-list-title{
    font-size: 30px;
}

.routine-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.new-routine-btn {
    display: inline-block;
    margin: auto;
    border: none;
    border-radius: 6px;
    background-color: var(--secondary-bg-color);
    color: white;
    padding: 10px 12px;
    text-decoration: none;
}
.new-routine-btn:hover{
    background-color: var(--primary-color);
    color: black;
}

@media (min-width: 768px) {
    .routine-list-container {
        width: 60%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .routine-list-container {
        width: 50%;
        margin: auto;
    }
}

