.img-logo-container {
    display: flex;
    justify-content: center;
}

.logo-image {
    width: 100px;
    margin-top: 3rem;
}

.register-link-container {
    display: flex;
    margin-top: 4px;
}

.register-link {
    display: inline-block;
    text-align: center;
    margin: auto;
    color: var(--tertiary-color);
}
.register-link a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 4px;
}

@media (min-width: 412px) {
    .logo-image {
        width: 150px;
    }
}
@media (min-width: 768px) {
    .logo-image {
        width: 300px;
    }
}