.terms-of-use-container {
    width: 90%;
    margin: auto;
    display: flex; 
    flex-direction: column;
    gap: 0.75rem;
}

.terms-of-use-container p {
    text-align: center;
}

.terms-of-use-title {
    text-align: center;
}

.terms-of-use-box {
    width: 60%;
    margin: auto;
    text-align: center;
}

.mail-send-link {
    color: white;
    text-decoration: none;
}

.mail-send-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 8px;
}

@media (min-width: 768px) {
    .terms-of-use-container {
        width: 60%;
        margin-top: 6rem;
    }
    .terms-of-use-container p {
        text-align: left;
    }
    .terms-of-use-title {
        text-align: left;
    }
    .terms-of-use-box {
        text-align: left;
        width: 100%;
    }
}