:root {
    --primary-color: #FFB3B5;
    --secondary-color: #E0E0E0;
    --tertiary-color: #808080;
    --quaternary-color: #FF2D55;
    
    --primary-bg-color: #131313;
    --secondary-bg-color: #0E0E0E;


    
}

body {
  margin: 0;
  flex: 1;
  height: 100vh;
  background-color: var(--primary-bg-color);
  color: white;
}