
.header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

.nav-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.logo-header {
    width: 90px;
}

.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.logout {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.logout:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 8px;
}

@media (max-width: 374px) {
    .logo-header {
        width: 65px;
    }
}